annotated-types
arandr
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
btrfsutil
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cryptography
cycler
dbus-python
decorator
defusedxml
distlib
dnspython
docopt
executing
fastjsonschema
filelock
Flask
Flask-Cors
fonttools
future
Glances
idna
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
lensfun
lit
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nftables
numpy
opencv-python
orjson
packaging
pandocfilters
parso
pdf2image
pexpect
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pyaml
pycairo
pycparser
pydantic
pydantic_core
Pygments
PyGObject
pymongo
pyparsing
PyQRCode
PyQt5
PyQt5_sip
python-dateutil
python-dotenv
PyYAML
pyzbar
pyzmq
qrtools
referencing
Reflector
reportlab
requests
rpds-py
scipy
setproctitle
shtab
six
soupsieve
SSSDConfig
stack-data
termcolor
tinycss2
tldr
tornado
traitlets
typing_extensions
urllib3
virtualenv
wcwidth
webencodings
Werkzeug
wheel
yarg
arg==0.1.9
